@import "compass/css3/border-radius";
section#article{
	article{
		
		border: 1px solid #D1DCE4;
		background-color: #FFFFFF;
		margin-bottom: 10px;
		padding: 14px 14px 10px 18px;
		width: 75%;
		@include border-radius(4px, 4px);
		header{
			margin-bottom: 10px;
			line-height: 1;
			
			h3{
				font-weight: bold;
	
			}
		}
		p{
			line-height: 1.4;
			font-size: 110%
			
		}
	}
}
section#comments{

	article{
		@include border-radius(4px, 4px);
		line-height: 1.35;
		border: 1px solid #D1DCE4;
		background-color: #F0F3F8;
		margin-bottom: 10px;
		padding: 10px 14px;
		width: 50%;

		img{ 
			float:left;
			margin-right:10px;
		}
		span.commentName{
			font-weight: bold;
		}
		p{
			margin-left: 50px;
		}
		footer{
			float:right;
			date{
			font-weight: bold;
			}
		}
	}
}
section#post{
	form{
		@include border-radius(4px, 4px);
		line-height: 2;
		border: 1px solid #D1DCE4;
		background-color: #F0F3F8;
		margin-bottom: 10px;
		padding: 10px 14px;
		width: 50%;
		input[type="text"]{
			padding-left: 1%;
			width: 99%;
			height:22px;
			font-size: 14px;
			border: 1px solid #D5D2D2;
			@include border-radius(2px,2px);
}
		div.field{
			margin-bottom : 10p;
		}
	}
}