/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/application.scss */
html {
  font: 81.25%/1 "Helvetica", Arial, sans-serif;
}

/* line 8, ../sass/application.scss */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

/* line 11, ../sass/application.scss */
h1 {
  font-size: 2.5em;
}

/* line 14, ../sass/application.scss */
h2 {
  font-size: 2.3em;
}

/* line 17, ../sass/application.scss */
h3 {
  font-size: 2.1em;
}

/* line 20, ../sass/application.scss */
h4 {
  font-size: 1.9em;
}

/* line 23, ../sass/application.scss */
h5 {
  font-size: 1.7em;
}

/* line 25, ../sass/application.scss */
h6 {
  font-size: 1.5em;
}

/* line 26, ../sass/application.scss */
.container {
  width: 99%;
}

/*header*/
/* line 30, ../sass/application.scss */
section#header {
  background: #F4F4F4;
  -webkit-box-shadow: inset 0px 2px 16px #8c8c8c;
  -moz-box-shadow: inset 0px 2px 16px #8c8c8c;
  box-shadow: inset 0px 2px 16px #8c8c8c;
  margin-bottom: 20px;
}
/* line 34, ../sass/application.scss */
section#header header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70.511%;
  margin-right: 1.042%;
  padding-left: 4.209%;
  color: #464646;
  letter-spacing: -1px;
}
/* line 39, ../sass/application.scss */
section#header header hgroup {
  padding: 20px 0px;
}
/* line 41, ../sass/application.scss */
section#header header hgroup h1 {
  font-size: 4em;
}
/* line 42, ../sass/application.scss */
section#header header hgroup h2 {
  font-size: 1.5em;
  margin-top: -10px;
}
/* line 47, ../sass/application.scss */
section#header nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 1.042%;
  margin-right: 0;
}
/* line 51, ../sass/application.scss */
section#header nav ul {
  margin-top: 20px;
}
/* line 53, ../sass/application.scss */
section#header nav ul li {
  margin-right: 20px;
  float: left;
  line-height: 1.2;
  background-color: #9A9F9A;
}
/* line 58, ../sass/application.scss */
section#header nav ul li a {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 10px;
  letter-spacing: -1px;
  font-size: 1.4em;
  font-weight: bolder;
  display: block;
}

/*content*/
/* line 71, ../sass/application.scss */
section#content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 95.765%;
  margin-right: 1.042%;
  padding-left: 4.209%;
  margin-right: 0;
}

/* Article */
/* line 77, ../sass/application.scss */
article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 1.042%;
}

/*section*/
/* line 85, ../sass/application.scss */
section {
  line-height: 1.2;
}

/*etc*/
/* line 92, ../sass/application.scss */
div.addButton {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  width: 12.5%;
  margin: 0px auto;
  background-color: #1D74C4;
  border: 3px solid #80b2dd;
  padding: 20px 40px;
  text-align: center;
  cursor: pointer;
}
/* line 101, ../sass/application.scss */
div.addButton a {
  text-decoration: none;
  color: white;
  font-size: 1.75em;
}

/* line 107, ../sass/application.scss */
.clearBoth {
  clear: both;
}

/* iphone */
